.breadCrumbSection{
    display: inline-flex;
}

.containerCustomers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
    gap: 10px;
    grid-auto-rows: minmax(100px, 150px);
    flex: 1;
}

.customer {
    border-radius: 10px;
    border: 1px solid #888;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-decoration: none;
    color: var(--text-color);
    box-shadow: var(--bx-shadow-primary);
    transition: .3s;
}

.customer:hover{
    background-color: #f1f1f1;
    translate: 0 -2px;
}

.customerName {
    font-weight: var(--font-weight-medium);
    text-decoration: none;
}

.dui, .phone{
    color: var(--text-color-secondary);
    font-size: var(--font-size-base);
    text-decoration: none;
}