.content{
    flex-direction: row;
}

.leftColumn{
    flex: 1;
}

.breadCrumbSection {
    display: inline-flex;
    margin-bottom: 2em;
}

.moreDataContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.containerDataInfo{
    display: flex;
}

.containerDataInfo>div{
    flex: 1;
}

.dataInfo{
    display: flex;
    flex: 1;
}

.lblInfo{
    background-color: var(--danger-color);
    color: var(--bg-color);
    font-weight: var(--font-weight-semibold);
    padding: 2px 10px;
}

.valueInfo{
    border-bottom: 1px solid var(--danger-color);
    flex: 1;
    padding: 0 3px;
}

.rowInfo{
    display: flex;
}

.bodyLeftPart {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tablesDataContainer{
    display: flex;
    flex-direction: column;
}

.containerTables{
    display: flex;
    gap: 10px
}

.lblInfoTotals, th{
    font-weight: var(--font-weight-semibold);
    padding: 2px 5px;
}

.lblInfoTotals{
    background-color: #f8f8f8;
    border: var(--border);
}

th{
    padding: 5px !important;
}

td{
    font-size: var(--font-size-sm);
}

.containerInput{
    margin-bottom: 10px;
    position: relative;
}

.containerInput input{
    width: 100%;
}

.tableContainer{
    flex: 1;
}

.tableContainer table{
    border: var(--border);
}

tr{
    height: 36.4px;
    position: relative;
}

.btnTrash {
    position: absolute;
    border: none;
    height: 24px;
    width: 24px;
    right: 10px;
    top: 20%;
    background-color: transparent;
}

.btnTrash img {
    width: 100%;
    height: 100%;
}



.bodyRightColumn {
    max-height: 50%;
    min-height: 0;
    height: 100%;
}

.amounts {
    overflow-y: auto;
}

.containerAmount {
    display: flex;
    align-items: center;
    gap: 5px;
}

.containerAmountDue {
    display: flex;
    justify-content: space-between;
}

.containerAmountDue h3 {
    font-weight: var(--font-weight-medium);
    font-size: 1.4em;
}

#due {
    font-size: 1.4em;
    color: var(--danger-color);
    font-weight: var(--font-weight-semibold);
}

.btnVoucher {
    padding: 3px 10px;
    font-size: 1.2em;
    border-radius: 50%;
    background-color: var(--danger-color);
    color: white;
    border: none;
    cursor: pointer;
}

.containerImgSuggest{
    height: 40px;
    width: 40px;
}

.containerImgSuggest img{
    width: 100%;
    height: 100%;
}

.suggestionPart{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.containerImgNameSuggest{
    display: flex;
    gap: 5px;
    align-items: center;
}

.btnImport{
    position: absolute;
    right: 5px;
    top: 8px;
    background-color: var(--danger-color);
    color: var(--bg-color);
    font-size: .7em;
    border: none;
    padding: 1px 5px;
    font-weight: var(--font-weight-medium);
    border-radius: 3px;
}

#btnClearFile{
    padding: 3px 5px;
}

.btnOpenModalSp{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0;
    border-bottom-right-radius: var(--border-radius-input);
    border-top-right-radius: var(--border-radius-input);

}

/* Modal */

.btnPrimary {
    padding: 5px 12px;
    font-size: 1em;
    text-decoration: none;
    width: auto;
    display: grid;
    place-content: center;
}