.contentData {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 20px;
    height: fit-content;
}

.statItem {
    background-color: var(--card-bg);
    border-radius: var(--border-radius-table);
    border: var(--border);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.statTitle {
    font-size: var(--font-size-base);
}

.statValue {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-title);
}

.statOrders {
    grid-column: span 2;
}

.statSales {
    grid-column-start: 2;
    grid-column: span 2;
}

.statCustomers {
    grid-column-start: 4;
    grid-column: span 2;
}

.statEmployees {
    grid-column-start: 6;
    grid-column: span 2;
}

.graphicEarningsSection {
    grid-row: span 4;
    grid-column: span 5;
    justify-content: start !important;
}

.bodyStat {
    width: 100%;
    height: 100%;
}

.downStatsTitle {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-regular);
}

.graphicContainer {
    min-width: clamp(400px, 90%, 750px);
    margin: auto;
}

#downStatsTitle {
    margin: auto;
}

.containerFilterDates {
    display: flex;
    justify-content: center;
    gap: 75px;
    align-items: center;
    width: 100%;
}

.btnChangeDates {
    border: solid 1px var(--text-color-secondary);
    color: var(--text-color-secondary);
    cursor: pointer;
    border-radius: 5px;
    width: 25px;
    display: grid;
    place-content: center;
    height: 25px;
    font-size: 2em;
}

.selectsFilter {
    font-size: var(--font-size-base);
    color: var(--text-color-secondary);
}

.inventorySection {
    grid-row: span 4;
    grid-column: span 5;
}

.graphicTypePartSection {
    grid-column: 6 / 9;
    grid-row: 2 / 5;
}

.bodyTypePartS {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bodyTypePartS .graphicContainer {
    min-width: 0;
    margin: auto 0;
    width: clamp(200px, 90%, 400px);
}

#sparePartsGraphic {
    width: 100% !important;
    height: 100% !important;
}

.containerInfoGraphic {
    width: 100%;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(50px, 100px));
    gap: 10px 20px;
}

.infoGraphicItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.colorIdGraphic {
    min-width: 15px;
    min-height: 15px;
    border-radius: 50%;
}

.ordersSection {
    grid-column: 6 / 9;
    grid-row: 5 / 10;
}

.bodyOrdersS, .pendOrdersPart{
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
}

.graphicPartOrd{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.graphicPartOrd .graphicContainer{
    min-width: 0;
    width: clamp(250px, 85%, 500px);
}

.ordersSection .containerInfoGraphic {
    grid-template-columns: repeat(auto-fit, minmax(75px, 150px));
    justify-items: start;
}