/* Estilos del modal */

.modalAdd{
    width: clamp(100px, 90%, 500px);
    border-radius: 15px;
}

.modalEmployeeBody{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.containerSelects{
    display: flex;
    gap: 10px;
    align-items: center;
}