@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400&display=swap");

:root {
    --bg-color-white: #FFFFFF;
    --bg-color: #FCFCFC;
    --text-color: #0D0503;
    --danger-color: #D31813;
    --warning-color: #FFB235;
    --dark-danger-color: #871B19;
    --helper-color: #CD908F;
    --success-color: #6DBE45;
    --font-text: 'poppins', 'sans-serif';
    --text-color-secondary: #81859E;
    --bg-color-modal: rgba(129, 133, 158, 0.5);
    --bx-shadow-primary: 5px 2px 6px #CD908F44;
    --bx-shadow-btn-primary: 0 0px 7px #D3181399;
    --bx-shadow-modal: 2px 4px 10px #A13A8D45;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --border: 1px solid #81859E66;
    --border-radius-input: 5px;
    --border-radius-btn: 8px;
    --border-radius-table: 4px;
    --font-size-base: 1.1em;
    --font-size-lg: 1.3em;
    --font-size-sm: 0.9em;
    --font-size-title: 1.5em;
    --font-size-breadcrumb: 2.2em;
    --font-size-amountValue: 3.5em;
    --width-modal: clamp(400px, 70%, 650px);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-text);
}

.bodyContent {
    display: flex;
    width: 100dvw;
    height: 100dvh;
}

.content {
    flex: 1;
    padding: 40px;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.breadCrumbSection {
    display: inline-flex;
    align-items: center;
    margin-bottom: 2em;
}

.breadcrumb {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-breadcrumb);
    color: var(--danger-color);
}

.breadcrumb[href] {
    display: flex;
    align-items: center;
    text-decoration: none;
    position: relative;
    color: gray;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* Utilidades */

.show {
    display: flex !important;
}

.hide {
    display: none !important;
}