@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400&display=swap");

:root {
    --bg-color-white: #FFF;
    --bg-color: #FCFCFC;
    --text-color: #0D0503;
    --text-color-light: #FFF;
    --text-color-secondary: #81859E;
    --text-color-dark: #444;
    --danger-color: #D31813;
    --dark-warning-color: #f59e0b;
    --warning-color: #FFB235;
    --dark-danger-color: #871B19;
    --helper-color: #CD908F;
    --dark-success-color: #2e7d32;
    --success-color: #6DBE45;
    --helper-stat-color: #3b82f6;
    --font-text: 'poppins', 'sans-serif';
    --bg-color-modal: rgb(129 133 158 / 0.5);
    --bg-success-badge: rgb(109 190 69 / 0.1);
    --bg-danger-badge: rgb(211 24 19 / 0.1);
    --bg-warning-badge: rgb(255 178 53 / 0.1);
    --bx-shadow-primary: 5px 2px 6px #CD908F44;
    --bx-shadow-btn-primary: 0 0px 7px #D3181399;
    --bx-shadow-modal: 2px 4px 10px #A13A8D45;
    --font-weight-very-bold: 800;
    --font-weight-bold: 700;
    --font-weight-semibold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-weight-light: 300;
    --border: 1px solid #81859E66;
    --border-radius-input: 5px;
    --border-radius-btn: 8px;
    --border-radius-table: 16px;
    --border-radius-card: 8px;
    --font-size-amount-value: clamp(2rem,     3.5vw + 0.5rem, 3.5rem);
    --font-size-breadcrumb:   clamp(1.3rem,   2vw   + 0.5rem, 2.2rem);
    --font-size-title-lg:     clamp(1.2rem,   1.5vw + 0.3rem, 1.75rem);
    --font-size-title:        clamp(1rem,     1.3vw + 0.3rem, 1.5rem);
    --font-size-lg:           clamp(0.95rem,  1vw   + 0.2rem, 1.3rem);
    --font-size-base:         clamp(0.9rem,   0.8vw + 0.2rem, 1.1rem);
    --font-size-default:      clamp(0.85rem,  0.7vw + 0.2rem, 1rem);
    --font-size-sm:           clamp(0.78rem,  0.6vw + 0.15rem, 0.9rem);
    --font-size-sh:           clamp(0.62rem,  0.5vw + 0.1rem,  0.7rem);
    --font-size-very-sh:      clamp(0.52rem,  0.4vw + 0.1rem,  0.6rem);
    --width-modal: clamp(400px, 70%, 650px);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-text);
}

.bodyContent {
    display: flex;
    width: 100dvw;
    height: 100dvh;
    overflow-y: auto;
}

.content {
    flex: 1;
    padding: 40px;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden auto;
}

.breadCrumbSection {
    display: inline-flex;
    align-items: center;
    margin-bottom: 2em;
    max-width: 100%;
}

.breadcrumb {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-breadcrumb);
    color: var(--danger-color);
    white-space: nowrap;
}

.breadcrumb[href] {
    display: flex;
    align-items: center;
    text-decoration: none;
    position: relative;
    color: var(--text-color-dark);
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

/* Utilidades */

.show {
    display: flex !important;
}

.hide {
    display: none !important;
}

@media screen and (width <= 600px) {
    .content {
        padding: 40px 10px;
    }

    .breadcrumb{
        flex-wrap: wrap;
    }
}