.content {
    flex-direction: row;
}

.leftColumn {
    flex: 3;
    display: flex;
    flex-direction: column;
    height: 100% !important;
}

.leftColumn .tableContainer {
    height: 100%;
}


.headerRightColumn .table td,
.headerRightColumn .table th {
    padding: 8px;
}

.headerRightColumn {
    height: 40%;
}

.headerRightColumn .tableContainer {
    height: 80%;
}

.containerTotal {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #f1f1f3;
    border-radius: 12px;
    margin-bottom: 10px;
}

.containerTotal,
.containerAmountDue {
    justify-content: space-between;
    border-bottom: var(--border);
    align-items: center;
    gap: 10px;
    display: none;
}

.containerAmountDue{
    padding-bottom: 10px;
}

.containerTotal h3,
.containerAmountDue h3 {
    font-weight: var(--font-weight-medium);
    font-size: 1.4em;
}

#total,
#due {
    font-size: 1.4em;
    color: var(--danger-color);
    font-weight: var(--font-weight-semibold);
}

.finalPrice {
    text-align: center;
}

.bodyRightColumn tr{
    position: relative;
}

.headerRightColumn .table:has(.noDataMessage) {
    height: 100%;
}

.noDataMessage {
    text-align: center;
}

.footerRightColumn .btnPrimary {
    font-size: 1.3em;
    padding: 5px 30px;
}

textarea {
    resize: none;
}

.containerAmount {
    display: flex;
    gap: 5px;
}

.breadCrumbSection {
    display: inline-flex;
    margin-bottom: 4em;
}

.txtSearchData {
    flex: 1;
}

.filterSection {
    gap: 20px;
}

.tableRow {
    position: relative;
}

.btnAddPart {
    position: absolute;
    top: 25%;
    right: 10px;
    border-radius: 50%;
    padding: 0px 10px !important;
    font-size: var(--font-size-title) !important;
}

.btnPrimary {
    padding: 5px 12px;
    font-size: 1em;
    text-decoration: none;
    width: auto;
    display: grid;
    place-content: center;
}