.content {
    flex-direction: row;
}

.breadCrumbSection {
    margin-bottom: 2em;
    display: inline-flex;
}


.leftColumn {
    height: fit-content;
    flex: 1;
    display: flex;
    gap: 10px;
    flex-direction: column;
}


.commissionContainer{
    margin-top: 10px;
    font-size: var(--font-size-lg) !important;
}

/* ================================ */
/*   COSTOS / INFORMACIÓN GENERAL
/* ================================ */

.footerRightColumn {
    flex: 1;
}

textarea:focus-visible{
    outline: none;
}