.gridPlace {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 15px;
}

.breadcrumbSection {
    display: inline-flex;
    width: 100%;
}

.txtInputs {
    padding: 10px !important;
}

fieldset {
    border: var(--border);
    padding: 10px;
    border-radius: var(--border-radius-input);
}

textarea {
    resize: none;
}

legend {
    font-size: var(--font-size-lg);
    color: #222;
}

.vehicleData {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 5;
    grid-row: 1 / 5
}

.imgData {
    padding: 20px;
    grid-column: 5 / 9;
    grid-row: 1 / 5;
    border: var(--border);
    border-radius: var(--border-radius-input);
    overflow-y: auto;
}


.costsData {
    display: flex;
    flex-direction: column;
    gap: 5px;
    grid-column: 1 / 9;
    grid-row: 5 / 8;
}

.mainContent {
    flex: 1;
    max-height: clamp(300px, 100%, 1200px);
    max-width: clamp(300px, 100%, 1600px);
    margin: auto;
}

.vehicleDetailsContainer {
    height: 100%;
}

.vehicleDetailsBody {
    display: flex;
    height: 100%;
}

.vehicleImagesSection>div {
    height: 150%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.headerInfoSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: var(--border);
}

.brand,
.price {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-breadcrumb);
}

.price {
    color: var(--danger-color);
}

.bodyInfoSection {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.rowSuggested {
    align-self: end;
    font-size: var(--font-size-lg);
}

#suggestedPrice {
    color: var(--danger-color);
}

.titleInfoVehicle {
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-medium);
}

.infoLabel,
.infoValue {
    font-size: var(--font-size-title);
}

.infoLabel {
    font-weight: var(--font-weight-semibold);
}

#mainSwiper {
    height: 250px;
    width: clamp(300px, 100%, 500px);
}

.mainSwiperUsed {
    border: 2px solid var(--danger-color);
}

.thumbnailImagesContainer {
    width: clamp(300px, 100%, 500px);
}


.swiper-slide,
.swiper-wrapper {
    width: 100% !important;
}

.previewImg {
    width: 100%;
    border: var(--border);
    height: 100%;
    object-fit: cover;
}

.thumbs-swiper .swiper-wrapper {
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 12px;
}

.thumbs-swiper .swiper-slide {
    border: var(--border);
    opacity: 0.5;
    flex: 0 0 auto;
    cursor: pointer;
    border-radius: 6px;
    overflow: hidden;
    transition: opacity .3s;
    width: 125px !important;
    height: 75px !important;
}

.thumbs-swiper .swiper-slide-thumb-active {
    opacity: 1;
    border: 2px solid #D31813;
    /* color de selección */
}

.thumbs-swiper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumb-box {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumb-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumb-add {
    background: #fff;
    color: #d33;
    font-size: 36px;
    font-weight: var(--font-weight-medium);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    transition: 0.2s ease;
}

.thumb-add:hover {
    background: #ffe5e5;
    border-color: #b00;
    color: #b00;
}


.no-image-container {
    width: 100%;
    height: 100%;
    background: #fafafa;
    border: 2px dashed #ccc;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #777;
    font-size: 18px;
    gap: 10px;
}

.no-image-icon {
    font-size: 50px;
    color: #ccc;
}

.thumb-box {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}

.thumb-delete {
    position: absolute;
    top: 4px;
    right: 4px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 22px;
    display: grid;
    place-content: center;
    cursor: pointer;
    opacity: 0;
    transition: 0.2s ease;
}

.thumb-box:hover .thumb-delete {
    opacity: 1;
}

.btnLinkLote {
    position: absolute;
    right: 10px;
    top: 53%;
    margin: auto;
    padding: 4px 8px;
    border-radius: var(--border-radius-input);
}

.modalAdd {
    padding: 25px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 70;
    height: 200px;
    width: clamp(100px, 90%, 450px);
    border-radius: var(--border-radius-input);
}

.titleModal {
    text-align: left;
}

.btnImgs {
    position: absolute;
    padding: 0 8px;
    border-radius: 8px;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-lg);
    top: 49%;
    right: 5px;
}

.containerModal {
    position: fixed;
    top: 0;
    right: 0;
}

.containerModal .modalAdd {
    width: clamp(300px, 90%, 600px);
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.imgModal {
    width: 100%;
    height: 100%;
    max-height: 300px;
    object-fit: cover;
}

.containerModal .modalAdd .bodyModal {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.containerModal .btnPrimary {
    padding: 10px;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-medium);
    border-radius: var(--border-radius-input);
}

.dropArea {
    border: 2px dashed #ccc;
    border-radius: var(--border-radius-input);
    padding: 30px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropArea:hover {
    background-color: #fafafa;
    border-color: var(--danger-color);
}

.dropContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.dropIcon {
    font-size: 45px;
    color: var(--danger-color);
}

.btnFullWidth {
    padding: 12px;
    border-radius: var(--border-radius-btn);
    width: 100%;
    font-size: var(--font-size-base);
}

.footerModal {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

/* Switch toggle */

.isExternalContainer{
    font-size: var(--font-size-lg);
    display: flex;
    align-items: center;
    font-weight: var(--font-weight-medium);
    gap: 10px;
}

.containerOptions{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
/* Contenedor */
.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 30px;
}

/* Ocultar checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Fondo del switch */
.slider {
  position: absolute;
  inset: 0;
  background-color: #e0e0e0; /* OFF */
  border: 2.5px solid #000;
  border-radius: 50px;
  transition: background-color 0.25s ease;
  cursor: pointer;
}

/* Círculo */
.slider::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  left: 3px;
  top: 50%;
  transform: translateY(-51%);
  background-color: #fff;
  border: 2.5px solid #000;
  border-radius: 50%;
  transition: transform 0.25s ease;
}

/* ON */
input:checked + .slider {
  background-color: var(--danger-color); /* Rojo sistema */
}

input:checked + .slider::before {
  transform: translate(22px, -50%);
}
