.content {
    flex-direction: row;
}

.rightColumn{
    width: 475px !important;
}

.breadCrumbSection {
    display: inline-flex;
    margin-bottom: 1em;
}

.leftColumn {
    display: flex;
    flex-direction: column;
    flex: 3;
}

.filterSection {
    margin-top: 6px;
    padding-right: 5px;
}

.bodyLeftPart {
    position: relative;
    flex: 1;
    height: fit-content;
}

.viewVechicleContainer{
    position: absolute;
    top: 0;
    z-index: 10;
}

.btnCancelVehicle {
    padding: 5px 15px;
    font-size: var(--font-size-lg);
    border-radius: 10px;
    align-self: end;
    margin: 10px;
}


.infoRow {
    display: flex;
}


.btnPrimary {
    padding: 5px 12px;
    font-size: 1em;
    text-decoration: none;
    width: auto;
    display: grid;
    place-content: center;
}

.imgVehicleTable {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: var(--border);
}

.tableRow {
    position: relative;
}

.btnAddVehicle {
    position: absolute;
    top: 25%;
    right: 10px;
    border-radius: 50%;
    padding: 0px 10px !important;
    font-size: var(--font-size-title) !important;
}

.leftColumn .table {
    border: var(--border);
    max-height: 100%;
}

.bodyRightColumn h2 {
    font-weight: var(--font-weight-medium);
    font-size: 1.2em;
}

.btnVoucher {
    padding: 3px 10px;
    font-size: 1.2em;
    border-radius: 50%;
    background-color: var(--danger-color);
    color: white;
    border: none;
    cursor: pointer;
}

.amounts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}

#btnClearFile{
    padding: 3px 5px;
}

.containerAmount {
    display: flex;
    align-items: center;
    gap: 5px;
}

.containerAmountDue {
    display: flex;
    justify-content: space-between;
}

#due {
    font-size: 1.4em;
    color: var(--danger-color);
    font-weight: var(--font-weight-semibold);
}

.containerAmountDue h3 {
    font-weight: var(--font-weight-medium);
    font-size: 1.4em;
}

.containerButtons{
    display: flex;
    justify-content: space-between;
}

.btnCreateWO{
    padding: 5px 12px;
    font-size: 1em;
    text-decoration: none;
    width: auto;
    display: grid;
    place-content: center;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius-input);
}

