.breadCrumbSection{
    display: inline-flex;
    margin-bottom: 1em;
}

.orderStatus{
    font-weight: var(--font-weight-semibold);
    padding: 8px 20px;
    border-radius: 7px;
    margin-left: 20px;
}

.pendingStatus{
    color: var(--bg-color);
    background-color: var(--warning-color);
}

.completedStatus{
    background-color: var(--success-color);
    color: var(--bg-color);
}

.delayStatus{
    color: var(--bg-color);
    background-color: var(--danger-color);
}

form{
    height: 100%;
}

.footerRightColumn .dataInfo{
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-medium);
    flex: 0;
}

.btnComplete{
    width: fit-content;
    padding: 8px 12px;
    font-size: 1em;
    align-self: end;
}

.footerRightColumn .formGroup{
    flex: 1;
}

.footerRightColumn{
    flex: 1;
}
textarea{
    height: 100%;
}

.moreDataSection .dataInfo{
    display: flex;
    gap: 8px;
}

.lblMore{
    font-weight: var(--font-weight-medium);

}