.rightColumn {
    display: flex;
    flex-direction: column;
    width: 450px;
    position: sticky;
    top: 0;
    padding: 20px;
    background: #f9f9f9;
    border: var(--border);
    border-radius: 12px;
    gap: 10px;
}

/* ================================
   HEADER
   ================================ */

.headerRightColumn h2,
.bodyRightColumn h2 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}

.headerRightColumn {
    display: flex;
    flex-direction: column;
}

/* Tabla general del panel */
.rightColumn .tableContainer {
    width: 100%;
    overflow: hidden;
    border-radius: 2px;
    border: 1px solid #ddd;
}

.rightColumn .table th,
.rightColumn .table td {
    padding: 10px;
    text-align: left;
    font-size: 15px;
    border-bottom: 1px solid #eee;
}

.rightColumn .table tr:nth-child(2n){
    background-color: #eee
}

.rightColumn .table th {
    background: #eee;
    font-weight: 600;
}

.rightColumn .rowNoData td {
    text-align: center;
    padding: 25px 0;
}

/* ================================
   BODY
   ================================ */

.bodyRightColumn {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

/* Línea tipo total / abonado / deuda */
.rightColumn .infoItem {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
}

.rightColumn .infoItem .lbl {
    font-weight: 600;
}

.rightColumn .infoValue {
    font-weight: 600;
}

/* Lista de abonos */
.amounts {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.containerAmount {
    display: flex;
    gap: 10px;
    align-items: center;
}

.containerAmount input,
.containerAmount select {
    flex: 1;
}


/* ================================
   FOOTER
   ================================ */

.footerRightColumn {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.footerRightColumn textarea{
    flex: 1;
}

.lbl{
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-base);
}

/* Botones */
.containerButtons {
    display: flex;
    gap: 12px;
}

.btnPrimary,
.btnSecondary {
    padding: 5px 10px;
    border-radius: 8px;
    font-size: var(--font-size-sm);
    cursor: pointer;
    text-align: center;
    display: inline-block;
}
