@import url('../../globalStyles.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#loginBackground {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: url("../../../media/appMedia/bgLogin.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed
}

.txtSearchData {
  background-image: none !important;
  padding-left: 7px !important;
  max-width: 100% !important;
}

.modalAdd {
  --width-modal: clamp(200px, 90%, 420px);

  padding: 20px !important;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.loginContainer {
  position: relative;
  width: clamp(250px, 95%, 520px);
  height: 630px;
  background-color: var(--bg-color);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 5px 25px 0 rgb(202 94 94 / 0.5);
}

.loginContainer form {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginContainer h2 {
  font-size: var(--font-size-breadcrumb);
  color: var(--text-color-dark);
  text-align: center;
}

.inputBox {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 25px 0;
  background-color: var(--bg-color);
  border-radius: 5px;
  box-shadow: 1px 1px 4px 0 rgb(40 58 141 / 0.15);
  backdrop-filter: blur(5px);
}

.inputBox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: var(--font-size-base);
  color: var(--text-color-dark);
  pointer-events: none;
  transition: .5s;
}

.inputBox input:focus~label,
.inputBox input:valid~label,
.inputBox input:disabled~label {
  top: -15px;
}

.inputBox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: var(--font-size-default);
  color: var(--text-color-dark);
  padding: 0 45px 0 15px;
  border-radius: 5px;
}

.inputBox .icon {
  position: absolute;
  right: 8px;
  color: var(--text-color-dark);
  font-size: var(--font-size-lg);
  line-height: 57px;
  margin-right: 10px;
}

.inputBox .icon svg{
  height: 20px;
  width: 20px;
}

.businessLogo{
  width: 150px;
  margin-bottom: 20px;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink 0.3s;
}

.loginButton {
  width: 91%;
  height: 55px;
  transition: .3s;
}

.loginButton:hover {
  transform: translateY(-2px);
  transition: .3s;
  box-shadow: var(--bx-shadow-btn-primary);
}

.forgotPassword {
  font-size: var(--font-size-default);
}

.forgotPassword p a {
  color: var(--text-color-dark);
  text-decoration: none;
  font-weight: var(--font-weight-medium);
  transition: color 0.2s;
}

.forgotPassword p a:hover {
  transition: .2s;
  opacity: .7;
}

/* PROPIEDAD DE MODAL GENERAL */

.btnAuthModal {
  width: 100%;
  background: var(--bg-color-white);
  color: var(--text-color-dark);
  border: var(--border);
  border-radius: 12px;
  padding: 14px 0;
  margin-bottom: 18px;
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-medium);
  box-shadow: 0 2px 8px rgb(31 38 135 / 0.07);
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
  box-sizing: border-box;
}

.btnAuthModal:hover {
  background: var(--bg-color);
  color: var(--helper-color);
}


.btnAuthModal.outline:hover {
  background: var(--bg-color);
}


#modalRecovery h2 {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-semibold);
  color: var(--dark-danger-color);
  margin-bottom: 5px;
}

#modalRecovery .btnClose {
  margin: 10px;
  width: 25px;
  height: 25px;
}

#modalRecovery .btnClose svg {
  width: 25px;
  height: 25px;
}


/* SweetAlert2 personalización */
.swal2PopupCustom {
  border-radius: 20px !important;
  text-align: justify !important;
  padding: 5px !important;
  font-size: var(--font-size-sm) !important;
}

.swal2TitleCustom {
  font-size: var(--font-size-lg) !important;
  color: var(--danger-color) !important;
  font-weight: var(--font-weight-bold);
}

.swal2BtnCustom {
  font-size: var(--font-size-lg) !important;
  border-radius: 8px !important;
  padding: 10px 12px !important;
  background: var(--danger-color) !important;
  color: var(--text-color-light) !important;
  font-weight: var(--font-weight-semibold);
}

/* Modal de autenticación */

#modalAuth h2 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-lg);
  margin-bottom: 16px;
  color: var(--text-color-secondary);
}

#modalAuth .modalAuthBody {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#modalAuth p {
  line-height: 1.4;
  margin: 0;
}

#modalAuth .authSuccess {
  color: var(--success-color);
  font-weight: var(--font-weight-medium);
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

#modalAuth .btnPrimary {
  padding: 14px 30px;
}

/* Modal de código de seguridad */
#modalCode img {
  width: 120px;
  min-width: 70px;
}

.modalCodeBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#modalCode p {
  color: var(--text-color-dark);
  text-align: center;
  margin-bottom: 10px;
  font-size: var(--font-size-default);
  width: clamp(200px, 75%, 325px);
}

.codeInputs {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
  width: 100%;
  justify-content: center;
}

.codeInputs .codeDigit {
  width: 48px;
  height: 48px;
  line-height: 2px;
  padding: 0;
  text-align: center;
  font-size: var(--font-size-lg);
  border: 1.5px solid var(--text-color-dark);
  border-radius: 10px;
  outline: none;
  transition: border-color 0.2s;
  background-color: var(--bg-color-white);
}

.codeInputs .codeDigit:focus {
  border-color: var(--dark-danger-color);
}

#modalCode .btnPrimary,
#modalCode .btnPrimary.outline {
  font-size: var(--font-size-default);
  border-radius: 12px;
  width: 100%;
  padding: 14px 0;
  margin: 0 8px;
}

/* === Neutralizar color oscuro del autofill (Chrome/Edge/Safari) === */
.inputBox input:-webkit-autofill,
.inputBox input:-webkit-autofill:hover,
.inputBox input:-webkit-autofill:focus,
.inputBox input:autofill,
.inputBox input:-webkit-autofill-and-obscured

/* Safari con password oculto */
  {
  -webkit-text-fill-color: #474A53;

  /* color de texto */
  caret-color: #474A53;

  /* mismo fondo que tu .inputBox */
  box-shadow: 0 0 0 1000px #F2F9FE inset !important;
  border-radius: 5px;

  /* respeta tu borde redondeado */
}

/* Si querés un borde al enfocar (opcional, coherente en ambos campos) */
.inputBox input:focus {
  outline: none;
  box-shadow: var(--bx-shadow-primary);
}

.divider {
  width: 80%;
  border: none;
  border-top: 1px solid var(--bg-color);
  margin: 15px 0 10px;
  opacity: 0.6;
}

.loginButton:disabled {
  opacity: 0.7;

  /* Make it slightly transparent */
  cursor: not-allowed;

  /* Change the cursor to indicate it's blocked */
  transform: none;

  /* Override hover effect */
  box-shadow: none;
}

.backHomeCorner {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 55px;
  height: 55px;
  border-radius: 10px;
  border: none;
  background: var(--bg-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 6px 22px 0 rgb(69 79 170 / 0.5);
  cursor: pointer;
  color: var(--danger-color);
  transition: transform .2s ease, box-shadow .2s ease;
  z-index: 5;
}

.backHomeCorner svg {
  width: 60%;
  height: 60%;
}

.backHomeCorner:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 24px rgb(97 111 239 / 0.2);
}

@media (width <=420px) {
  .backHomeCorner {
    top: 12px;
    right: 12px;
    width: 40px;
    height: 40px;
  }


  @keyframes slideIn {
    from {
      bottom: -300px;
      opacity: 0
    }

    to {
      bottom: 0;
      opacity: 1
    }
  }

  @keyframes slideIn {
    from {
      bottom: -300px;
      opacity: 0
    }

    to {
      bottom: 0;
      opacity: 1
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0
    }

    to {
      opacity: 1
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0
    }

    to {
      opacity: 1
    }
  }
}

.togglePassword * {
  pointer-events: none;
}
