.floatingMenu {
    position: fixed;
    background-color: var(--bg-color-white);
    border: var(--border);
    border-radius: var(--border-radius-btn);
    box-shadow: var(--bx-shadow-primary);
    display: flex;
    flex-direction: column;
    min-width: 180px;
    z-index: 999;
    padding: 8px 0;
    animation: fadeInScale 0.15s ease-out;
}

.floatingMenuButton {
    background: none;
    border: none;
    color: var(--text-color-secondary);
    font-weight: var(--font-weight-medium);
    text-align: left;
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: var(--font-size-sm);
}

.floatingMenuButton:hover {
    background-color: var(--danger-color);
    color: var(--text-color-light);
}


.actionButton {
    background: none;
    display: grid;
    place-content: center;
    border: none;
    font-size: var(--font-size-title);
    color: var(--text-color-secondary);
    cursor: pointer;
    padding: 6px;
    border-radius: var(--border-radius-btn);
    transition: all 0.2s ease;
}

.actionButton:hover {
    color: var(--danger-color);
    background-color: rgba(211, 24, 19, 0.05);
}

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}