.content {
    flex-direction: row !important;
}

.leftColumn {
    flex: 3;
    display: flex;
    flex-direction: column;
    height: 100% !important;
}

.headerRightColumn .table td,
.headerRightColumn .table th {
    padding: 8px;
}

.headerRightColumn {
    height: 40%;
}

.headerRightColumn .tableContainer {
    height: 80%;
}

.bodyRightColumn tr{
    position: relative;
}

.headerRightColumn .table:has(.noDataMessage) {
    height: 100%;
}