.content {
    flex-direction: row !important;
    flex-wrap: wrap;
}

.leftColumn {
    flex-grow: 1;
    display: flex;
    flex-basis: 950px;
    flex-direction: column;
    min-width: 0;
    gap: 30px;
}
.filterSection{
    justify-content: space-between;
}

.headerRightColumn .table td,
.headerRightColumn .table th {
    padding: 8px;
}

.headerRightColumn {
    height: 40%;
}

.headerRightColumn .tableContainer {
    height: 80%;
}

.bodyRightColumn tr{
    position: relative;
}

.headerRightColumn .table:has(.noDataMessage) {
    height: 100%;
}